@use "../../partials/mixins" as *;

.select-option {
  @include card;
  display: flex;
  align-items: center;
  background-color: var(--color-surface-top);
  max-width: var(--tab-items-max-width);

  h3 {
    margin: 0;
    width: 100%;
    text-align: start;
  }
}
