#actions {
  column-gap: 12px;
  padding-top: 16px;
}

#actions-filter {
  margin: auto;
  text-align: left;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background: var(--color-surface-top);
  box-shadow: var(--box-shadow);
  z-index: var(--z-index-nav);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: var(--tab-items-max-width);
  box-sizing: border-box;

  input {
    width: 100%;
  }
}
