@use "../../partials/mixins" as *;

.generic-card {
  @include card;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: var(--color-surface-top);

  .main {
    width: 100%;
    box-sizing: border-box;
  }

  > .icon {
    margin: 0;
  }
}
