@use "../../partials/mixins" as *;

.configured-action-card {
  @include card;
  background-color: var(--color-surface-top);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--tab-items-max-width);

  .name {
    width: 100%;
  }
}
