.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  min-height: 80px;
  min-width: 80px;
  width: 100%;
  box-sizing: border-box;
}
