@use "../../partials/mixins" as *;

.argument-card {
  @include card;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--tab-items-max-width);
  box-sizing: border-box;
  background-color: var(--color-surface-top);

  > div {
    text-align: left;
  }

  .name {
    font-weight: bold;
  }
}
