@use "../../partials/mixins" as *;

.magic-text-entry {
  @include card;
  text-align: start;
  background-color: var(--color-surface-top);
  max-width: var(--tab-items-max-width);
  width: 100%;

  .title {
    font-size: 0.9rem;
  }

  pre {
    margin: 4px 0 0 0;
    overflow-x: auto;
  }
}
