.button {
  background: var(--color-primary);
  color: var(--color-primary-item);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  flex-shrink: 0;
  padding: 4px;

  &.no-background {
    background: transparent;
    box-shadow: none;
  }
}
