@use "../../partials/mixins" as *;

.button {
  @include button-colors;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  flex-shrink: 0;
  padding: 4px;
  margin: auto;

  &.no-background {
    background: transparent;
    box-shadow: none;
  }
}
