#log-filter {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: auto;
  position: sticky;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-surface);
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  z-index: var(--z-index-nav);

  input {
    width: 100%;
  }
}

#logs {
  padding-top: 12px;
  height: 100%;
}
