.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-item);
  color: var(--color-item-negative);
  border-radius: 50%;
  padding: 14px;
  box-shadow: var(--box-shadow);
}
