.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color-item);
  color: var(--color-item-negative);
  border-radius: 50%;
  padding: 14px;
  box-shadow: var(--box-shadow);
  bottom: 25px;

  .icon {
    color: var(--color-item-negative);
  }

  &.right {
    right: 25px;
  }

  &.left {
    left: 25px;
  }
}
