@use "../../partials/mixins" as *;

.toast {
  @include no-select;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  contain: paint;
  pointer-events: all;
  margin: 8px;
  position: relative;
  padding: 8px 12px;
  border-width: var(--border-width);
  border-style: solid;
  background: var(--color-surface);
  color: var(--color-text);
  width: fit-content;
  box-shadow: var(--box-shadow);

  &.info {
    border-color: var(--color-accent-action);
  }

  &.success {
    border-color: var(--color-accent-constraint);
  }

  &.error {
    border-color: var(--color-accent-trigger);
  }

  .close-overlay {
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}
