.wizard {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-surface);
  inset: 0;
  box-sizing: border-box;

  .content {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    padding: 12px;
  }

  .navigator-placeholder {
    height: 115px;
  }

  .title-with-icon {
    justify-content: center;
  }
}
