.external-link {
  color: inherit;
  text-decoration: none;
  width: var(--tab-items-max-width);
  max-width: var(--tab-items-max-width);
  width: 100%;

  .generic-card {
    margin-top: 12px;
  }
}
