@use "../../partials/mixins" as *;

.external-link {
  @include card;
  color: inherit;
  text-decoration: none;
  max-width: var(--tab-items-max-width);
  width: 100%;
  background-color: var(--color-primary);
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .content {
    width: 100%;
    text-align: left;
  }
}
