@use "../../partials/mixins" as *;

.boolean-option {
  @include card;
  display: flex;
  align-items: center;
  background-color: var(--color-surface-top);
  max-width: var(--tab-items-max-width);
}
