@use "../../partials/mixins" as *;

.boolean-option {
  @include card;
  align-items: center;
  background-color: var(--color-surface-top);
  max-width: var(--tab-items-max-width);

  > div {
    display: flex;
    align-items: center;
  }

  .title {
    width: 100%;
  }
}
