.icon {
  user-select: none;
  flex-shrink: 0;
  margin: 4px;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor;

  &.side {
    margin: 4px 8px 4px 0;
  }

  &.hidden {
    display: none;
  }
}
