@use "../../partials/mixins" as *;

.status-card {
  @include card;
  padding: 8px 12px;
  font-weight: bold;
  width: fit-content;
  display: flex;
  align-items: center;
  max-width: var(--tab-items-max-width);
  background: var(--color-surface-top);
  border-style: solid;
  border-width: var(--border-width);
}
