@use "../../partials/mixins" as *;

.expandable-category {
  display: flex;
  flex-direction: column-reverse;

  .head {
    @include card;

    text-align: start;
    display: flex;
    align-items: center;
    color: var(--color-primary-item);
    background-color: var(--color-primary);
    width: 100%;
    max-width: var(--tab-items-max-width);
    z-index: var(--z-index-top);

    h2 {
      width: 100%;
      font-size: 1.3rem;
      margin: 10px 0;
    }
  }
}
