.expandable-category {
  margin-bottom: 12px;

  .head {
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color-primary-item);
    gap: 8px;
    background-color: var(--color-primary);
    width: 100%;
    max-width: var(--tab-items-max-width);
    margin: auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    z-index: var(--z-index-top);
    padding: 0 14px;

    h2 {
      width: 100%;
      font-size: 1.3rem;
    }
  }
}
