@use "../../partials/mixins" as *;

.openable-category {
  @include card;
  display: flex;
  background: var(--color-primary);
  max-width: var(--tab-items-max-width);
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  h2 {
    font-size: 1.3rem;
    width: 100%;
    text-align: start;
    margin: 10px 0;
  }
}
