@use "../../partials/mixins" as *;

.action-card {
  @include card;
  background-color: var(--color-action);
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: var(--tab-items-max-width);
  color: var(--color-primary-item);
}
