.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-shrink: 0;
  color: var(--color-accent);
  margin: auto;
  padding: 4px;

  &.checked {
    .icon-unchecked {
      display: none;
    }
  }

  &.unchecked {
    .icon-checked {
      display: none;
    }
  }

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
  }
}
