.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-shrink: 0;
  color: var(--color-accent);
  margin: auto;
  padding: 4px;

  > div {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  svg {
    left: 0;
    top: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
    position: absolute;
  }
}
