@use "../../partials/mixins" as *;

.string-option {
  @include card;
  background-color: var(--color-surface-top);
  max-width: var(--tab-items-max-width);
  display: flex;
  align-items: top;

  h3 {
    margin-top: 0.4rem;
  }

  img {
    width: 100%;
    max-width: 250px;
  }

  > div {
    width: 100%;
  }
}
