@use "../../partials/mixins" as *;

.multi-line-string-option {
  @include card;
  background-color: var(--color-surface-top);
  max-width: var(--tab-items-max-width);

  img {
    width: 100%;
    max-width: 250px;
  }

  .input-container {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  textarea {
    resize: vertical;
  }
}
