@use "../../partials/mixins" as *;

.connection-card {
  @include card;
  @include surface-top;
  text-align: left;
  display: flex;
  align-items: start;
  break-inside: avoid;
  max-width: var(--tab-items-max-width);

  &:first-child {
    margin-top: 0;
  }

  .info {
    width: 100%;
  }

  .name {
    font-weight: bold;
    word-break: break-word;
  }

  .last-activity-difference,
  .last-activity {
    font-size: 0.8rem;
  }
}
