@use "../../partials/mixins" as *;

.connection-card {
  @include card;
  @include surface-top;
  text-align: start;
  display: flex;
  align-items: start;
  break-inside: avoid;

  &.listener-unhealthy {
    border: var(--border-width) solid var(--color-accent-trigger);
  }

  &:first-child {
    margin-top: 0;
  }

  .info {
    width: 100%;
  }

  .name {
    font-weight: bold;
    word-break: break-word;
    margin: 0;
    margin-bottom: 0.2rem;
  }

  .detail,
  .id {
    font-size: 0.9rem;
  }
}

.connection-card-container {
  max-width: var(--tab-items-max-width);
  margin: auto;
}
