#tab-content {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}

#no-connections {
  padding: 16px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#no-connections-face {
  font-size: 3rem;
}

#log-tab {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#connections {
  text-align: center;
  column-width: 350px;
  column-gap: 12px;
}
