#tab-content {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 12px;
}

#no-connections {
  padding: 16px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#no-connections-face {
  font-size: 3rem;
}

.tab {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
