@use "./partials/splashscreen";
@use "./partials/fonts";
@use "./partials/colors";
@use "./partials/shadows";
@use "./partials/transition_durations";
@use "./partials/constants";
@use "./partials/z_index";
@import url("./components/Icon/Icon.scss");

[hidden] {
  display: none !important;
}

:root {
  font-family: "Roboto", "system-ui", "Arial";
  color: var(--color-text);
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--color-surface);
}

button,
input,
select {
  font-family: inherit;
  font-weight: inherit;
}

button,
[role="button"],
select,
label {
  cursor: pointer;
}

button {
  border: none;
  outline-color: transparent;
}

h1,
h2 {
  font-family: "Helvetica", "Roboto", "system-ui", "Arial";
}

a {
  color: var(--color-accent);
}

a[role="button"]:not([href]) {
  cursor: pointer;
}

input {
  font-size: 1rem;
  padding: 4px;
  background-color: var(--color-surface);
  outline: none;
  border: none;
  border-bottom: var(--border-width) solid var(--color-accent);
  color: inherit;

  &:active {
    outline: none;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:invalid {
    border-color: var(--color-trigger);
  }
}

.description {
  padding: 8px;
  opacity: 0.8;
  font-size: 0.8rem;
}

img {
  margin: 8px;
}

strong {
  font-size: 3rem;
  padding: 16px;
  display: block;
}

select {
  background-color: var(--color-surface);
  padding: 4px;
  outline: none;
  border: none;
  font-weight: bold;
  color: inherit;
  padding: 8px 40px 8px 8px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15%;

  &:active {
    outline: none;
  }
}

@media (prefers-color-scheme: dark) {
  select {
    background-image: url("./assets/img/dropdown-dark.svg");
  }
}

@media (prefers-color-scheme: light) {
  select {
    background-image: url("./assets/img/dropdown-light.svg");
  }
}
