@use "./partials/mixins" as *;
@use "./partials/splashscreen";
@use "./partials/colors";
@use "./partials/shadows";
@use "./partials/transition_durations";
@use "./partials/constants";
@use "./partials/z_index";
@use "./partials/sticky_filter";
@use "./partials/option";
@use "./partials/icon";

[hidden] {
  display: none !important;
}

:root {
  font-family: "Inter", "system-ui", "Arial";
  color: var(--color-text);
  box-sizing: border-box;
}

body {
  margin: 0;
}

pre {
  margin: 0.2rem 0;
}

main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--color-surface);
}

button,
input,
select,
dialog {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

textarea,
pre,
code {
  font-family: "Jetbrains Mono", "monospace";
}

button,
[role="button"],
a,
select,
label {
  cursor: pointer;
}

label {
  display: block;
}

button {
  border: none;
  outline-color: transparent;
}

h3 {
  margin: 0.6rem 0;
  width: fit-content;
}

div {
  column-gap: 12px;
}

a {
  color: var(--color-accent);
}

button,
select,
[role="button"]:not(a),
.external-link {
  &:hover,
  &:focus {
    &:not(.fab):not(.nav-item):not([role="checkbox"]) {
      outline: var(--border-width) solid var(--color-text);
      outline-offset: calc(var(--border-width) * -0.5);
    }
  }
}

hr {
  height: 0;
  border: none;
  border: 1px solid var(--color-text);
  opacity: 0.4;
}

input,
textarea {
  font-size: 1rem;
  padding: 6px;
  background-color: var(--color-surface);
  outline: none;
  border: none;
  border-bottom: var(--border-width) solid var(--color-text);
  color: inherit;
  max-width: var(--tab-items-max-width);
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset var(--box-shadow);

  &:active {
    outline: none;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:focus {
    border-color: var(--color-accent);
  }

  &:invalid:focus {
    border-color: var(--color-trigger);
  }

  &:invalid {
    border-color: var(--color-accent-trigger);
  }
}

.description {
  padding-top: 8px;
  opacity: 0.8;
  font-size: 0.8rem;
  text-align: left;
}

img {
  margin: 8px;
}

strong {
  font-size: 3rem;
  padding: 16px;
  display: block;
}

select {
  @include button-colors;
  outline: none;
  border: none;
  font-weight: bold;
  color: var(--color-primary-item);
  padding: 8px 40px 8px 8px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right;
  border-right: 8px solid transparent;
  background-size: 15%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-image: url("./assets/img/dropdown.svg");
  background-size: 1.3rem;

  &:active {
    outline: none;
  }
}
