nav {
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: var(--color-primary);
  box-shadow: var(--box-shadow);
  z-index: var(--z-index-nav);
  flex-shrink: 0;
  overflow-x: hidden;
}
