.log-record {
  position: relative;
  padding: 8px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: auto;
  display: flex;
  justify-content: center;
  background: var(--color-surface-top);
  gap: 8px;
  overflow-y: hidden;

  > div {
    width: 100%;
    // display: flex;
    // flex-direction: column;
  }

  &.failed {
    border: var(--border-width) solid var(--color-accent-trigger);

    .icon {
      color: var(--color-accent-trigger);
    }
  }

  .timestamp {
    opacity: 0.8;
  }

  .timestamp,
  .id {
    font-size: 0.8rem;
  }

  .connection-name {
    font-weight: bold;
  }

  .details {
    font-family: "Jetbrains Mono";
    font-size: 0.8rem;

    &.side {
      margin: auto;
      padding-left: 8px;
    }
  }

  button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.response,
.error-message {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0 8px;
}

.error-message {
  color: var(--color-accent-trigger);
}

.log-record-container {
  padding: 8px 0;
  max-width: 600px;
  margin: auto;
}
