.log-event {
  padding: 8px;
  margin: 8px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: var(--border-width) solid var(--color-accent-trigger);
  max-width: 600px;
  margin: auto;
  column-width: 250px;

  > div {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .error {
    color: var(--color-accent-trigger);
  }
}
